* {
  margin: 0;
  padding: 0;
}

body {
  color: white;
  background-color: #1f1d36;
  height: 100vh;
  font-family: "Belleza", sans-serif;
}

h4 {
  font-family: "Belleza", sans-serif;
  font-weight: bold;
}

ul {
  list-style-type: none;
}

input {
  outline: none;
  border: none;
  background-color: rgb(252, 245, 245);
  padding: 0.3rem;
  border-radius: 20px;
}

input:focus {
  background-color: #380134;
  border: 1px solid #fff;

  color: #fff;
}
