* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Belleza", sans-serif;
}

.main-container {
  display: flex;
  flex-direction: column;

  padding: 5rem 1rem;
}

html,
body,
.main-container {
  min-height: 100vh;
}

h4 {
  font-family: "Belleza", sans-serif;
  font-weight: bold;
}

ul {
  list-style-type: none;
}

input {
  outline: none;
  border: none;
  background-color: rgb(252, 245, 245);
  padding: 0.3rem;
  border-radius: 20px;
}

input {
  background-color: #fff;
  padding: 0.5rem 1rem;
  border: 1px solid #cacaec;
}

span {
  display: inline-block;
}

/*Dark Mode*/
.dark-theme {
  color: white;
  background-color: #000000c1;
}
/* Larger Sizes */
@media (min-width: 992px) {
  li {
    width: 45%;
  }
}
